= simple_form_for(@user, defaults: { required: false }) do |f|
  .field
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
  = f.submit t('card.button.save'), class: "btn btn-primary"
