.row
  = simple_form_for(@card, defaults: { required: false }) do |f|
    .field
      = f.input :original_text
      = f.input :translated_text
      = @card.current_picture
      %br= f.submit t('card.button.save'), class: "btn btn-primary"
      = f.input :remote_picture_url
      = f.input :picture
