.container
  %table
    %tr
      %th= t 'card.page.original'
      %th= t 'card.page.translate'
      %th= t 'card.page.review_date'

    - @cards.each do |card|
      %tr
        %th= card.original_text
        %th= card.translated_text
        %th= card.review_date
        %th= link_to t('card.page.show'), card_path(card)
        %th= link_to t('card.page.destroy'), card_path(card), method: :delete, data: { confirm: t('card.js.sure?') }
        %th= link_to t('card.page.edit'), edit_card_path(card)
